%ul
  - @categories.each do |cat|
    %li
    = link_to cat.name, "/categories/#{cat.url_key}"
    - if cat.children.any?
      %ul
        - cat.children.each do |child|
          %li
            = link_to child.name, "/categories/#{child.url_key}"
