.pages-holder
	.pages-header
		%h1 CONTACT US

	.pages-content			
		%table.address
			%tr
				%td ADDRESS:

				%td
					131 Greene St, 23
					%br
					New York, New York 10012

			%tr
				%td PHONE:
				%td
					212 614 5894

			%tr
				%td EMAIL:
				%td= mail_to('customerservice@storename.com')

			%tr
				%td FOLLOW:
				%td
					%a{href: 'facebook.com/storename'} facebook.com/storename
					%br
					%a{href: 'instagram.com/storename'} instagram.com/storename
					%br
					%a{href: 'twitter.com/storename'} twitter.com/storename

