.pages-holder
	.pages-header
		%h1 RETURN POLICY

	.pages-content
		%p
			WHAT IS YOUR RETURN POLICY?
		%p
			PLEASE NOTE: Purchases made online are available for refunds only; exchanges are not permitted.
		%p
			Returns will only be accepted by submitting this return authorization form.
		%p
			In the event that your unworn regular priced product purchased from our website does not meet your expectations, you may request a Return Authorization number within 15 days of the date you receive the package for credit to your original payment method, less any shipping charges.
		%p
			Any returns sent without a Return Authorization number or postmarked after 15 days of receiving an Authorization number will be returned to you. If you do not accept the item to be returned to you, you will be charged a restock fee that includes 50% of the value of the item, plus shipping charges
		%p
			You may return your product(s) for a refund if:
		%p
			The item has been unworn
			%br
			All items including the sunglass, case and cloth are returned
			%br
			The item is free of any damage caused by the customer
			%br
			The item is returned in its original packaging
		%p
			We will only refund the original shipping cost/handling fees on your order if you received the incorrect item or the item sent was defective. If a wrong item shipped to you is due to a mistake on our part, your returned items will be shipped at no cost to you via Standard Ground Delivery. If a damaged item is shipped to you, please notify us within 7 days from the date you receive your package. Any damage claim made after 7 days will not be accepted
		%p
			The return value is determined by the last retail price of the item. WE DO NOT ACCEPT RETURNS ON PRODUCTS THAT WERE NOT PURCHASED VIA THIS WEBSITE. Please use a shipping service that offers both insurance and tracking to ensure a safe delivery of your package, as STORE NAME is not responsible for packages lost in transit. Due to security constraints, we are unable to reimburse you for an amount greater than your purchase price.
		%p
			* Please note: We reserve the right to final approval on all return

		%p
			WHERE DO I SHIP MY RETURN?
		%p
			Shipping instructions will be emailed upon submitting the return authorization request.
		%p
			Pack and seal your box securely, in the original package if possible. You should ship your return with a carrier who will provide your package with a tracking number to ensure that your package does not get lost. Packages must be returned prepaid. We do not accept COD.
		%p
			Once your package has been received, your refund will be processed within 3-5 business days. If there is a refund due, a credit will be issued in the original form of payment. The credit may not show up until your credit card's next monthly billing cycle. You will be notified via email to the address listed on your order when this transaction has taken place. Please note that your banking institution may require additional days to process and post this transaction to your account once they have received the information from us.