%h2.text-center Checkout
%nav.text-center
  %ol.list-inline
    %li{class: ("active" if params[:controller] == "gemgento/checkout/login")} Sign In
    %li{class: ("active" if params[:controller] == "gemgento/checkout/address")} Billing & Shipping Address
    %li{class: ("active" if params[:controller] == "gemgento/checkout/shipping")} Shipping Method
    %li{class: ("active" if params[:controller] == "gemgento/checkout/payment")} Payment
    %li{class: ("active" if params[:controller] == "gemgento/checkout/confirm")} Order Confirmation
