%h1.checkout
  CHECKOUT
  .checkout-steps
    %ul
      %li{class: ("active" if params[:controller] == "gemgento/checkout/login")} 1 SIGN IN
      %li{class: ("active" if params[:controller] == "gemgento/checkout/address")} 2 BILLING & SHIPPING ADDRESS
      %li{class: ("active" if params[:controller] == "gemgento/checkout/shipping")} 3 SHIPPING METHOD
      %li{class: ("active" if params[:controller] == "gemgento/checkout/payment")} 4 PAYMENT
      %li{class: ("active" if params[:controller] == "gemgento/checkout/confirm")} 5 ORDER CONFIRMATION