#search-holder {
	position: absolute;
	left: 0px;
	font-size: 11px;
}

#nav-holder {
	// position: absolute;
	// right: 0px;
	float: right;
	@include menu(11px, right, 0 0 0 20px);

	ul {
		padding: 5px 0 5px 0;
	}
}