@import "active_admin/mixins";
@import "active_admin/base";

$pink: #ef74a7;

// FONTS
@font-face {
  font-family: 'futura-light';
  src: url('/assets/FuturaStd-Light.otf')
}

@font-face {
  font-family: 'futura-bold';
  src: url('/assets/FuturaStd-Medium.otf')
}

@font-face {
  font-family: 'futura';
  src: url('/assets/FuturaStd-Book.otf')
}

// HEADER
#header {
  height: 80px;
  padding: 0;
  background: none;
  background-color: #161822;
  border: none;
  text-shadow: none;

  // site titles
  #site_title {
    color: $pink;
    text-transform: uppercase;
    font-size: 14px;
    font-family: futura-light;
    letter-spacing: 1px;
    padding-left: 115px;
    background-image: url('/assets/gemgento-icon-bolt.png');
    background-size: 50px 80px;
    background-position: left 45px top;
    background-repeat: no-repeat;
  }

  // links
  a,
  a:link {
    color: #ffffff;
    text-transform: uppercase;
    font-size: 14px;
    font-family: futura-light;
    letter-spacing: 1px;
    padding: 50px 10px;

    &:hover {
      background: none;
      background-color: $pink;
      border-radius: 0;
    }
  }

  // menus
  ul.tabs#tabs {
    display: table;
    top: 0;

    & > li {
      display: table-cell;
      vertical-align: middle;
      text-align: center;
      margin: 0;
      padding: 0 10px;
      word-wrap: none;
      height: 24px;
      height: 80px;

      &.current,
      &:hover {
        background-color: $pink;
        -moz-box-shadow: inset 0 15px 15px -15px #e081a9;
        -webkit-box-shadow: inset 0 15px 15px -15px #e081a9;
        box-shadow: inset 0 15px 15px -15px #e081a9;
      }

      ul {
        left: 0;
        top: 60px;
        background: $pink;
        border-radius: 0;
        -moz-box-shadow: none;
        -webkit-box-shadow: none;
        box-shadow: none;

        li {
          text-align: left;
          margin: 15px;
        }
      }

      // undo aa styling on menu links
      a,
      &.has_nested a,
      &.has_nested:hover > a,
      &.current a,
      &.has_nested.current a,
      &:hover > a {
        background: none;
        border-radius: 0;
        padding: 0;
        border: none;
      }
    }
  }

  // account functions
  #current_user a {
    text-transform: lowercase;
    color: $pink;
  }
}

// PRODUCT POSITIONING
#feed-blocks-wrapper-admin {
  position: relative;
  width: 100%;
  float: left;
}

#feed-blocks-admin {
  position: relative;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#feed-blocks-admin li {
  float: left;
  width: 200px;
  height: 300px;
  border: solid 1px #EEE;
}

.feed-block-admin img {
  position: relative;
  max-width: 100%;
  max-height: 100%;
}

.admin-category-container {
  font-size: 24px;
  position: relative;
  float: left;
  margin: 0 0 0 20px;
}

#feed-blocks-wrapper-admin h3 {
  width: 100%;
  float: left;
  position: relative;
}