@import "active_admin/mixins";
@import "active_admin/base";

// COLORS
$pink: #ef74a7;
$black: #161822;
$dark_grey: #e7e8e8;
$light_grey: #f7f7f8;

// FONTS
@font-face {
  font-family: 'futura-light';
  src: url('/assets/FuturaStd-Light.otf')
}

@font-face {
  font-family: 'futura-bold';
  src: url('/assets/FuturaStd-Medium.otf')
}

@font-face {
  font-family: 'futura';
  src: url('/assets/FuturaStd-Book.otf')
}

// MIXINS
@mixin button() {
  background: none;
  font-size: 12px;
  text-transform: lowercase;
  font-family: futura-light;
  text-shadow: none;

  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;

  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;

  &:not(.disabled):not(.dropdown_menu_button):hover {
    color: #ffffff;
    background: none;
    background-color: $pink;
    border-color: $pink;
  }
}

@mixin text() {
  font-family: futura-light;
  font-size: 14px;
  color: $black;
  text-shadow: none;
  font-weight: normal;
}

// GLOBALS
body {
  color: $black;
  font-family: futura;
}

a,
a:link,
a:visited {
  color: $pink;
}

// HEADER
#header {
  height: 80px;
  padding: 0;
  background: none;
  background-color: $black;
  border: none;
  text-shadow: none;

  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;

  // site titles
  #site_title {
    color: $pink;
    text-transform: uppercase;
    font-size: 14px;
    font-family: futura-light;
    letter-spacing: 1px;
    padding-left: 115px;
    background-image: url('/assets/gemgento-icon-bolt.png');
    background-size: 50px 80px;
    background-position: left 45px top;
    background-repeat: no-repeat;
  }

  // links
  a,
  a:link {
    color: #ffffff;
    text-transform: uppercase;
    font-size: 14px;
    font-family: futura-light;
    letter-spacing: 1px;
    padding: 50px 10px;

    &:hover {
      background: none;
      background-color: $pink;
      border-radius: 0;
    }
  }

  // menus
  ul.tabs#tabs {
    display: table;
    top: 0;

    & > li {
      display: table-cell;
      vertical-align: middle;
      text-align: center;
      margin: 0;
      padding: 0 10px;
      word-wrap: none;
      height: 24px;
      height: 80px;

      &.current,
      &:hover {
        background-color: $pink;
        -moz-box-shadow: inset 0 15px 15px -15px #e081a9;
        -webkit-box-shadow: inset 0 15px 15px -15px #e081a9;
        box-shadow: inset 0 15px 15px -15px #e081a9;
      }

      ul {
        left: 0;
        top: 70px;
        background: $pink;
        border-radius: 0;
        -moz-box-shadow: none;
        -webkit-box-shadow: none;
        box-shadow: none;

        li {
          text-align: left;
          margin: 15px;
        }
      }

      // undo aa styling on menu links
      a,
      &.has_nested a,
      &.has_nested:hover > a,
      &.current a,
      &.has_nested.current a,
      &:hover > a {
        background: none;
        border-radius: 0;
        padding: 0;
        border: none;
      }
    }
  }

  // account functions
  #current_user a {
    text-transform: lowercase;
    color: $pink;
  }
}

// TITLE BAR
#title_bar {
  height: 80px;
  background: none;
  border: none;

  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;

  #page_title {
    font-family: futura-light;
    color: $black;
    position: absolute;
    top: 60px;
  }

  .action_items {
    span.action_item > a {
      @include button();
    }
  }

  .breadcrumb {
    a {
      text-transform: lowercase;
      color: $pink;
    }

    span.breadcrumb_sep {
      color: $black;
      margin: 0;
    }
  }
}

// MAIN CONTENT
#active_admin_content {
  padding: 0 30px;
}

// TABLES
.table_tools {
  float: right;

  .dropdown_menu {
    .dropdown_menu_button {
      @include button();
      padding: 10px;
    }

    .dropdown_menu_list_wrapper {
      background: none;
      border: solid 1px $black;
      box-shadow: none;
      padding: none;
    }
  }
}

table.index_table {
  th {
    background: none;
    background-color: $dark_grey;
    border: 1px solid #ffffff;
    padding: 10px 20px;
    @include text();
    text-transform: uppercase;

    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;

    a,
    a:link,
    a:visited {
      @include text();
      text-transform: uppercase;
    }
  }

  tr td {
    @include text();
    padding: 15px;
  }
}

// SIDEBAR
.sidebar_section {
  background-color: $light_grey;

  & > h3 {
    @include text();
    background: none;
    background-color: $dark_grey;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border: none;
    padding: 10px 20px;
    margin: none;
  }

  form {
    label.label {
      margin-bottom: 5px;
      font-size: 11px;
    }

    input[type=text] {
      font-size: 11px;
    }
    input[type=submit] {
      width: 108px;
    }
  }
}

form.filter_form .filter_form_field.select_and_search input[type=text] {
  margin-left: 20px;
}

// FORM ELEMENTS
.styled_select {
  background: $light_grey;
  border: 1px solid $black;
  float: left;
  clear: right;
  margin-bottom: 5px;

  select {
    background: none;
    border: none;
    margin: 6px 0;
  }
}

form {
  input[type=text],
  input[type=password],
  input[type=email],
  input[type=number],
  input[type=url],
  input[type=tel],
  textarea {
    @include text();
    border: 1px solid $black;
    border-radius: 0;
    font-size: 14px;
  }

  input[type=submit] {
    @include button();
    border: none;
    background-color: $black;
    color: #ffffff;
    font-size: 14px;
  }

  &.filter_form a.clear_filters_btn {
    @include button();
    background-color: #ffffff;
    color: $black;
    float: right;
    font-size: 14px;
  }

  .boolean label,
  label.label {
    font-size: 14px;
  }

  &.formtastic {
    margin-top: 25px;

    fieldset.inputs {
      background-color: $light_grey;
      border: none;
      border-radius: 0;

      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      box-shadow: none;

      ol li {
        clear: both;
      }
    }

    fieldset.actions li.cancel a {
      @include button();
    }
  }
}

// PRODUCT POSITIONING
#feed-blocks-wrapper-admin {
  position: relative;
  width: 100%;
  float: left;
}

#feed-blocks-admin {
  position: relative;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#feed-blocks-admin li {
  float: left;
  width: 200px;
  height: 300px;
  border: solid 1px #EEE;
}

.feed-block-admin img {
  position: relative;
  max-width: 100%;
  max-height: 100%;
}

.admin-category-container {
  font-size: 24px;
  position: relative;
  float: left;
  margin: 0 0 0 20px;
}

#feed-blocks-wrapper-admin h3 {
  width: 100%;
  float: left;
  position: relative;
}